/* form */
.form__item {
    position: relative;
}

.form__control {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 600;
    color: $extra-color;
    padding: 14px 25px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    background-color: #fff;
}

.form__control::placeholder {
    color: $primary-color;
}

.form-search {
    max-width: 750px;
    width: 100%;
}

.form-search__title {
    font-size: 1.125rem;
    color: $extra-color;
    margin-bottom: 20px;
}
 
.form__control-search {
    padding-left: 50px;
    padding-right: 80px;
    background-image: url('../img/search-hover.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
}

.submit-search {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: $main-color;
    padding: 14px 25px;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
        color: $primary-color;
    }
}

select {
    appearance: none;
    font-size: 0.875rem;
    font-weight: 500;
    color: $main-color;
    padding: 7px 25px 7px 10px;
    background-color: transparent;
    background-image: url('../img/select.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 1px solid transparent;
}

.selectize-input {
    width: auto;
    border: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    font-size: 0.875rem;
    font-weight: 500;
    color: $main-color;
    background: transparent;
    padding-right: 30px;
    padding-bottom: 10px;
}

.selectize-control.single .selectize-input::after {
    right: 0;
    width: 15px;
    height: 15px;
    border: 0;
    background: url('../img/select.svg') no-repeat center;
    background-size: contain;
    margin-top: -10px;
    transition: transform 0.3s ease;
}

.selectize-control.single .selectize-input.dropdown-active::after {
    margin-top: -10px;
    transform: rotate(180deg);
}

.selectize-input.dropdown-active {
    border-radius: 0;
}

.selectize-input.focus {
    box-shadow: none;
}

.selectize-input > input {
    display: none !important;
}

.selectize-dropdown {
    min-width: 200px;
    padding: 15px 0;
    background: #fff;
    border: 1px solid rgba(230, 83, 197, 0.33);
    box-shadow: 0px 18px 31px rgba(230, 83, 197, 0.07);
    border-radius: 5px;    
    color: $extra-color;
    left: auto;
    right: 0;
}

.selectize-dropdown .option, .selectize-dropdown .optgroup-header {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.selectize-dropdown .active {
    background-color: #f8f8f8;
    color: $primary-color;
}

.quantity-block {
    display: flex;
    align-items: center;
}

.quantity__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid $primary-color;
    transition: border-color 0.3s ease;

    svg path {
        transition: fill 0.3s ease;
    }

    &:hover,
    &:focus {
        border-color: $extra-color;
    }

    &:hover svg path,
    &:focus svg path {
        fill: $main-color;
    }
}

.quantity__control {
    border: 0;
    box-shadow: none;
    padding: 5px 10px;
    text-align: center;
    width: 40px;
}