/* form */
.form__item {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    .form__label {
        position: absolute;
        top: 15px;
        left: 26px;
        color: $primary-color;
        font-size: 0.875rem;;
        font-weight: 500;
        pointer-events: none;
        transition: opacity .3s ease;
    }

    &.form-value {
       .form__label {
           opacity: 0;
       }
    }
}

.form__control {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 500;
    color: $extra-color;
    padding: 14px 25px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow .3s ease;

    &:focus {
        box-shadow: 0px 3px 10px #EAEAEA;
    }

    &.required + .form__label::after {
        content: '*';
        position: relative;
        display: inline-block;
        color: $main-color;
        margin-left: 2px;
    }

    &-error {
        border-color: #FF0000;
    }
}

.form__control::placeholder {
    color: $primary-color;
}

.error-message {
    font-size: 10px;
    font-weight: bold;
    color: #FF0000;
    margin-top: 5px;
}

.form-search {
    max-width: 750px;
    width: 100%;
}

.form-search__title {
    font-size: 1.125rem;
    color: $extra-color;
    margin-bottom: 20px;
}
 
.form__control-search {
    padding-left: 50px;
    padding-right: 80px;
    background-image: url('../img/search-hover.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
}

.submit-search {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: $main-color;
    padding: 14px 25px;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
        color: $primary-color;
    }
}

select {
    appearance: none;
    font-size: 0.875rem;
    font-weight: 500;
    color: $main-color;
    padding: 7px 25px 7px 10px;
    background-color: transparent;
    background-image: url('../img/select.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 1px solid transparent;
}

.selectize {
    line-height: 1;
}

.selectize-input {
    width: auto;
    border: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    font-size: 0.875rem;
    font-weight: 500;
    color: $main-color;
    background: transparent;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.selectize-control.single .selectize-input::after {
    right: 0;
    width: 15px;
    height: 15px;
    border: 0;
    background: url('../img/select.svg') no-repeat center;
    background-size: contain;
    margin-top: -7px;
    transition: transform 0.3s ease;
}

.selectize-control.single .selectize-input.dropdown-active::after {
    margin-top: -10px;
    transform: rotate(180deg);
}

.selectize-input.dropdown-active {
    border-radius: 0;
}

.selectize-input.focus {
    box-shadow: none;
}

.selectize-input > input {
    display: none !important;
}

.selectize-dropdown {
    min-width: 200px;
    padding: 15px 0;
    background: #fff;
    border: 1px solid rgba(230, 83, 197, 0.33);
    box-shadow: 0px 18px 31px rgba(230, 83, 197, 0.07);
    border-radius: 5px;    
    color: $extra-color;
    left: auto;
    right: 0;
}

.selectize-dropdown .option, .selectize-dropdown .optgroup-header {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.selectize-dropdown .active {
    background-color: #f8f8f8;
    color: $primary-color;
}

.quantity-block {
    display: flex;
    align-items: center;
}

.quantity__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid $primary-color;
    transition: border-color 0.3s ease;

    svg path {
        transition: fill 0.3s ease;
    }

    &:hover,
    &:focus {
        border-color: $extra-color;
    }

    &:hover svg path,
    &:focus svg path {
        fill: $main-color;
    }
}

.quantity__control {
    border: 0;
    box-shadow: none;
    padding: 5px 10px;
    text-align: center;
    width: 40px;
}

textarea {
    height: 100px;
    resize: none;
}

.form__checkbox {
    position: relative;

    .checkbox {
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 0;
    }

    .checkbox__label {
        position: relative;
        display: block;
        padding-left: 30px;
        cursor: pointer;
        font-size: 10px;
        max-width: 320px;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 1px;
            left: 0;
            width: 16px;
            height: 16px;
            display: block;
            border: 2px solid #F3F3F3;
            border-radius: 5px;
        }
    }
}

.form__checkbox .checkbox:checked + .checkbox__label::before {
    background: url('../img/check.svg') no-repeat center;
}

.form__checkbox-color .checkbox__label {
    color: $main-color;
    font-size: 14px;

    &::before {
        border-color: $main-color;
        border-width: 1px;
    }
}

.form__checkbox-color .checkbox:checked + .checkbox__label::before {
    background: url('../img/check2.svg') no-repeat center $main-color;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;  

    .form__item {
        padding: 0 8px;
        width: 50%;
    }
}

.form__radio {
    position: relative;

    .radio {
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 0;
    }

    .radio__label {
        position: relative;
        display: block;
        padding-left: 30px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 1px;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            display: block;
            border: 1px solid #ECECEC;
            transition: border-color .3s ease, background-color .3s ease;
        }
    }
}

.form__radio .radio:checked + .radio__label::before {
   border-color: $main-color;
   background: url('../img/check2.svg') no-repeat center $main-color;
}

.form-card {
    max-width: 460px;
    width: 100%;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #ECECEC;
}

.form__title {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.form__footer {
    padding-top: 15px;
    display: flex;
    align-items: center;

    .btn {
        margin-right: 40px;
    }
}

.webform-confirmation {
    font-size: 14px;

    > *:not(.fancybox-button) {
        max-width: 230px;
        width: 100%;
    }
}

.webform-confirmation__title {
    font-size: 2.75rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.webform-confirmation__subtitle {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    color: $extra-color;
    margin-bottom: 30px;
}

.form-auth-card {
    background: #fff;
    display: flex;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.form-auth-img {
    width: 370px;
    overflow: hidden;
    position: relative;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.form-auth-wrap.fancybox-content {
    padding: 0;
}

.form-auth {
    padding: 50px 70px;
    background: #fff;
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .form__footer {
        margin-top: 40px;
    }

    .change-tel {
        position: absolute;
        display: flex;
        align-items: center;
        top: 1px;
        right: 1px;
        bottom: 1px;
        padding: 0 25px;
        background: #fff;
        text-decoration: underline;
        color: $primary-color;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

/* .fancybox-content .form__control.required {
    background-image: url('../img/rqrd.svg');
    background-repeat: no-repeat;
    background-position: right 15px top 20px;
} */

.form-next {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 10px 0;
    color: $main-color;

    &::after {
        content: '';
        position: relative;
        display: inline-block;
        width: 15px;
        height: 16px;
        margin-left: 30px;
        background: url('../img/next.svg') no-repeat center;
        background-size: contain;
    }
}

.form__agreement {
    font-size: 12px;
    color: $extra-color;

    a {
        color: #6FC5DD;
        text-decoration: underline;
        transition: color .3s ease;

        &:hover,
        &:focus {
            color: $extra-color;
        }
    }
}

.form-auth__sms {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-next {
        margin-bottom: 15px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 820px) {
    .form-auth {
        padding: 40px;
    }
}

@media screen and (max-width: 640px) {
    .form-auth {
        padding: 30px 20px;
    }

    .form-auth .form__footer {
        margin-top: 0;
    }

    .form-auth-card {
        flex-direction: column;
    }

    .form-auth-img {
        width: 100%;
        height: 270px;
        order: 2;
    }

    .form-auth__sms {
        flex-wrap: wrap;

        .form__item {
            width: 100%;
        }

        .form-next {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 520px) {
    .form-row .form__item {
        width: 100%;
    }

    .form__footer {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        .btn {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    .form-card {
        padding: 40px 20px;
    }

    .form__title {
        margin-bottom: 20px;
    }

    .form-auth .form__footer {
        text-align: left;
        align-items: flex-start;
    }

}
