/* product-list */
.product__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
}

.product__list-item {
    padding: 0 15px;
    margin-bottom: 30px;
    width: 33.3%;
}

.product__card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #F3F3F3;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        border-color: rgba(230, 83, 197, 0.33);
        box-shadow: 0px 18px 31px rgba(230, 83, 197, 0.07);
    }
}

.product__card-img {
    position: relative;
    padding-top: 70%;

    a {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}

.product__card-desc {
    padding: 30px 20px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__card-title {
    font-size: 1.125rem;
    margin-bottom: 15px;

    a {
        color: $extra-color;
    }
}

.product__card-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -10px;
    margin-left: -7px;
    margin-right: -7px;

    > * {
        margin-bottom: 10px;
        padding: 0 7px;
    }

    .btn-cart {
        font-size: 0.75rem;
        padding: 6px 13px;
        line-height: 1;
        display: flex;
        height: 40px;
        align-items: center;

        img {
            width: 16px;
        }

        span {
            width: 0;
            overflow: hidden;
            transition: all 0.2s 0.2s ease;
            opacity: 0;
        }

        &:hover,
        &:focus {
            background-color: $main-color;
        }

        &:hover span,
        &:focus span {
            width: 62px;
            opacity: 1;
        }
    }
}

.product__card-price {
    font-size: 1.25rem;
    font-weight: 700;
    color: $extra-color;
    white-space: nowrap;

    .new-price {
        color: $main-color;
    }

    .old-price {
       font-size: 0.75rem;
       font-weight: normal;
       text-decoration-line: line-through;
    }
}

.product__card-btn {
    display: flex;
    align-items: center;

    .add-fav {
        margin-right: 15px;
        flex: none;
    }
}

.add-fav {
    display: block;
    width: 24px;
    height: 22px;
    background: url('../img/fav-2.svg') no-repeat center;
    background-size: contain;
    transition:  filter 0.3s ease;

    &:hover,
    &:focus {
        filter: brightness(1.1);
        background: url('../img/fav-color.svg') no-repeat center;
        background-size: contain;
    }

    &.added {
        background: url('../img/fav-color.svg') no-repeat center;
        background-size: contain;
    }
}

.products-tabs__pane {
    position: relative;
}

.product__card-slider {
    padding-bottom: 15px;
    width: 100%;

    .swiper-slide {
        position: relative;
        padding-top: 63%;

        a, img {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        img {
            object-fit: contain;
            object-position: center;
        }
    }

    &.swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 0;
        top: 0;
        pointer-events: none;

        .swiper-pagination-bullet {
            height: 100%;
            background: transparent;
            border-bottom: 2px solid #eaeaea;
            transition: border-color .3s ease;
            outline: none;
            pointer-events: all;
        }

        .swiper-pagination-bullet-active {
            border-color: #6fc5dd;
        }
    }
}

.products__slider-btn {

    .swiper-button-next {
       right: -55px;
    } 

    .swiper-button-prev {
       left: -55px;
    }
}


.products__slider-wrap {
    position: relative;
}

.products__slider {
    padding-top: 20px;
    padding-bottom: 50px;

    &.swiper-container-horizontal > .swiper-pagination-progressbar {
        top: auto;
        bottom: 0;
    }

    .swiper-slide {
        height: auto;
    }
}

.product__card-sticker {
    position: absolute;
    top: -20px;
    right: -1px;
    z-index: 4;

    > div {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        margin-left: 8px;
    }

    .new {
        background: url('../img/new.svg') no-repeat center;
        background-size: contain;
    }

    .hit {
        background: url('../img/hit.svg') no-repeat center;
        background-size: contain;
    }

    .sale {
        background: url('../img/sale.svg') no-repeat center;
        background-size: contain;
    }
}

.catalog-block__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    .page-header {
        margin-bottom: 0;
    }

    .catalog-filter {
        min-width: 200px;
        position: relative;
        top: 10px;
    }
}

.catalog-block__top .page-header + .catalog-block__form {
    margin-top: 60px;
}

.catalog-block__form {
    width: 100%;
}

@media screen and (max-width: 1280px ) {
    .products__slider-btn {
        opacity: 0.5;

        .swiper-button-next {
            width: 16px;
            height: 16px;
            right: 0;
            top: auto;
            bottom: -8px;
        } 

        .swiper-button-prev {
            width: 16px;
            height: 16px;
            left: 0;
            top: auto;
            bottom: -8px;
        }
    }

    .products__slider.swiper-container-horizontal>.swiper-pagination-progressbar {
        margin-left: 25px;
        margin-right: 25px;
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 960px ) {
    .catalog-block__top {
        margin-bottom: 40px;
    }

    .catalog-block__top .page-header + .catalog-block__form {
        margin-top: 30px;
    }
}

@media screen and (max-width: 720px ) {
    .product__card-btn {
        width: 100%;
        justify-content: space-between;
    }

    .add-fav {
        width: 16px;
        height: 16px;
    }

    .product__card-line .btn-cart img {
        display: none;
    }

    .product__card-line .btn-cart {
        height: auto;
        padding: 7px 14px;
    }

    .product__card-line .btn-cart span {
        width: auto;
        opacity: 1;
        font-size: 10px;
    }

    .product__card-line .btn-cart:focus span, 
    .product__card-line .btn-cart:hover span {
        width: auto;
    }
}

@media screen and (max-width: 640px ) {
    .products__slider {
        padding-bottom: 25px;
    }

    .product__card-title {
        font-size: 1rem;
        line-height: 1.2;
    }

    .product__card-desc {
        padding: 15px 10px;
    }

    .product__card-price {
        font-size: 1rem;
    }

    .product__card-sticker {
        top: -15px;
    }

    .product__card-sticker > div {
        width: 30px;
        height: 30px;
    }

    .product__list {
        margin-left: -5px;
        margin-right: -5px;
    }

    .product__list-item {
        padding: 0 5px;
        width: 50%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 520px ) {
    .catalog-block__top {
        margin-bottom: 20px;
    }

    .catalog-block__top .page-header {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .catalog-filter {
        margin-bottom: 20px;

        select {
            padding-left: 0;
            padding-right: 20px;
            background-size: 10px auto;
            background-position: right 0 center;

            option {
                padding-left: 20px;
            }
        }
    }

    .catalog-block__top .catalog-filter {
        min-width: inherit;
        top: 0;
    }

    .catalog-block__top .page-header + .catalog-block__form {
        margin-top: 0;
        margin-bottom: 20px;
    }
    
}