
//vars
$base-font-famely: 'Ubuntu', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.4;
$primary-color: #b3b3b3;
$text-color: #858585;
$max-width: 1147px;
$main-color: #E553C5;
$color-hover: #F98FE1;
$extra-color: #343131;
$color-block: #F8F8F8;
$padding-section: 70px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*content*/
html {
    font-size: $base-font-size;
}

body {
    position: relative;
    min-width: 320px;
    min-height: 100vh;
    font-family: $base-font-famely;
    color: $primary-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.header,
.footer {
    flex: none;
}

#main {
    flex: 1 1 auto;
}

.page-section {
    padding: $padding-section 0;
    position: relative;
}

.container {
    max-width: $max-width;
    box-sizing: content-box;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.block-title {
    font-size: 2.375rem;
    line-height: 1.2;
    font-weight: 700;  
    color: $extra-color;

    &:not(:last-child) {
        margin-bottom: 3.75rem;
    }
}

h3.block-title {
    font-size: 1.75rem;
}

.page-header {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 700;  
    color: $extra-color;
    margin-bottom: 3.75rem;
    text-transform: uppercase;
}

.center {
    text-align: center;
}

a {
	color: $text-color;
	font-weight: inherit;
	text-decoration: none
}

a[href^="tel"], a[href^="mail"] {
	white-space: nowrap
}

img, svg, iframe {
	max-width: 100%
}

input, textarea, select {
    font: inherit;
}

input, a, button, textarea, select {
	outline: none
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
    font-size: 2.375rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5625rem;
}

h4 {
    font-size: 1.25rem;
}

p:not(:last-child) {
    margin-bottom: 15px;
}

.subtitle {
    font-weight: 700;
    font-size: 1.25rem;
}

.color-text {
    color: $main-color;
}

.block-title + .subtitle {
    margin-top: -3.5rem;
}

.color-block {
    background: $color-block;
}

/* btn */

.btn {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  padding: 17px 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease, background 0.3s linear, color 0.3s ease;
}

.btn-color {
    color: #fff;
    background: $main-color;

    &:hover,
    &:focus {
        background: $color-hover;
    }
}

.btn-border-dark {
    color: $extra-color;
    border-color: $extra-color;
    background-color: transparent;

    &:hover,
    &:focus {
        color: $main-color;
        border-color: $main-color;
    }
}

.btn-border-color {
    color: $main-color;
    border-color: $main-color;
    background-color: transparent;

    &:hover,
    &:focus {
        background-color: $main-color;
        color: #fff;
    }
}

.btn-next {
  padding-right: 70px;
  background-image: url('../img/next.svg');
  background-repeat: no-repeat;
  background-size: 14px auto;
  background-position: bottom 50% right 30px;

  &:hover,
  &:focus {
      background-image: url('../img/next-hover.svg');
  }
}

.logo img {
    width: 161px;
}

/*socials*/
.socials {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;

    li {
        padding: 0 8px;
        margin-bottom: 8px;

        a {
            display: block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            transition: filter 0.3s linear;
            line-height: 1;

            &:hover,
            &:focus {
                filter: brightness(1.1);
            }

            img {
                display: block;
            }
        }
    }
}

.socials li a[href*="vk.com"] {
    background: url('../img/vk.svg') no-repeat center;
    background-size: contain;

    img {
        display: none;
    }

    &:hover,
    &:focus {
        background: url('../img/vk-hover.svg') no-repeat center;
        background-size: contain;
    }
}

.socials li a[href*="instagram"]  {
    background: url('../img/inst.svg') no-repeat center;
    background-size: contain;

    img {
        display: none;
    }

    &:hover,
    &:focus {
       background: url('../img/inst-hover.svg') no-repeat center;
        background-size: contain;
    }
}

/* fancybox */
.fancybox-content {
    background: transparent;
}

.fancybox-slide {
    background: url('../img/popup-slider-vector.svg') no-repeat left top;
    background-size: 38% auto;
}

/* swiper-button */
.swiper-button-next,
.swiper-button-prev {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    outline: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:focus,
.swiper-button-prev:focus {
    background-color: #f8f8f8;
    outline: none;
}

.swiper-button-next {
    background-image: url('../img/right.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-image: url('../img/right-hover.svg');
    }
}

.swiper-button-prev {
    background-image: url('../img/left.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-image: url('../img/left-hover.svg');
    }
}

.swiper-pagination-bullets {
    display: flex;
    padding: 0 20px;

    .swiper-pagination-bullet {
        flex: 1 1 auto;
        height: 2px;
        border-radius: 0;
        background: #EAEAEA;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #6FC5DD;
    }
}

.swiper-container-horizontal > .swiper-pagination-progressbar {
    background: #EAEAEA;
    height: 2px;

    .swiper-pagination-progressbar-fill {
        background: #6FC5DD;
    }
}

@import "form";

@import "breadcrumbs";

@import "paginator";

@import "text-page";

@import "header";

@import "footer";

@import "top-banner";

@import "product-list";

/* tabs */
.tabs {
    position: relative;
}

.tabs__nav {
    list-style: none;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;

    li {
        display: inline-block;
        padding: 0 20px; 
        font-size: 1.125rem;
        font-weight: 700;
        color: $color-hover;
        opacity: 0.5;
        transition: all 0.3s ease;

        &:hover,
        &.active {
            color: $main-color;
            opacity: 1;
        }

        &:not(.active) {
            cursor: pointer;
        }
    }
}

.tabs__content:not(.active) {
    position: absolute;
    opacity: 0;
    width: 100%;
}

@import "start-box";

@import "instruction-block";

@import "instagram-block";

@import "product-inner";


/*media queries*/
@media screen and (max-width: 1280px ) {
    body, html {
        font-size: 14px;
    }
}