/*top-banner*/
.page-section.top-banner {
    padding-top: 0;
    padding-bottom: 0;
}

.top-banner__slider-wrap {
    position: relative;
}

.top-banner__slider {
    width: calc(66.7% - 20px);
    margin-left: 0;
    border-radius: 5px;

    .swiper-pagination {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 44px;
        height: 44px;
        top: auto;
        bottom: 20px;
        margin-top: 0;
        background-color: rgba(255,255,255,.5);
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        background-color: rgba(255,255,255,1);
    }

    .swiper-button-next {
        right: 30px;
    }

    .swiper-button-prev {
        left: auto;
        right: 87px;
    }
}

.top-banner__nav {
    width: 33.3%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.top-banner__slider-item {
    position: relative;
    padding-top: 67%;
    border-radius: 5px;
    overflow: hidden;

    a, img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img {
        object-position: center;
        object-fit: cover;
    }
}

.top-banner__nav {
    border-radius: 5px;
}

.top-banner__nav-item {
    position: relative;
    padding-top: 63%;
    border-radius: 5px;
    overflow: hidden;

    img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
}

@media screen and (max-width: 520px ) {
    .top-banner__slider-wrap {
        margin-right: -20px;
    }

    .top-banner__nav {
        display: none;
    }

    .top-banner__slider {
        width: 100%;
        padding-bottom: 32px;
        border-radius: 0;
    }

    .top-banner__slider .swiper-pagination {
        display: block;
        top: auto;
        bottom: 8px;
        margin-left: 25px;
        margin-right: 45px;
        width: calc(100% - 70px);
    }

    .top-banner__slider .swiper-button-next, .top-banner__slider .swiper-button-prev {
        bottom: 0;
        width: 16px;
        height: 16px;
        opacity: .5;
    }

    .top-banner__slider .swiper-button-next {
        right: 20px;
    }

    .top-banner__slider .swiper-button-prev {
        left: 0;
    }

    .top-banner__slider .swiper-slide {
        width: calc(100% - 70px);
    }
}